.root {
  margin: 0;
}

.h1 {
  font-size: 3.5rem;
  line-height: 130%;
  font-weight: 700;
}

.h2 {
  font-size: 2.25rem;
  line-height: 130%;
  font-weight: 700;
}

.h3 {
  font-size: 1.25rem;
  line-height: 130%;
  font-weight: 700;
}

.bodyLarge {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 400;
}

.bodySmall {
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 400;
}

.caption {
  font-size: 0.75rem;
  line-height: 130%;
  font-weight: 400;
}
