@use "./variables" as *;
@use "./mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: $neutral-darkest;
  background-color: $neutral-lightest;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

input,
textarea,
select {
  font-family: inherit;
}
