// colors
$neutral-lightest: #f0f0f2;
$neutral-extra-light: #e0e2e6;
$neutral-light: #c0c2c8;
$neutral-medium: #9ea0a5;
$neutral-dark: #7f8185;
$neutral-extra-dark: #5e5f63;
$neutral-darkest: #202122;

$primary-light: #0b0e3a;
$primary-medium: #060725;
$primary-dark: #020318;

$secondary-light: #ef4cb4;
$secondary-medium: #d31650;
$secondary-dark: #8c1038;
$secondary-button-hover-primary: #a4103f;
$secondary-button-hover-secondary: #ffe7ee;

$accent-light: #00bfc1;
$accent-medium: #0d9598;
$accent-dark: #006c6e;

// spaces
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-2xl: 48px;

// paddings
$padding-button: 12px 8px;
$padding-button-secondary: 12px 16px;

// fonts
$font-family: "Open Sans", sans-serif;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-2xl: 24px;
$font-size-3xl: 28px;
$font-size-4xl: 32px;

$line-height-tight: 1.3;
$line-height-normal: 1.5;

// radius
$radius-sm: 4px;
$radius-md: 8px;
$radius-lg: 12px;
$radius-xl: 16px;
$radius-button: 42px;
$radius-button-secondary: 54px;

// shadows
// TODO
$shadow-sm: 0 1px 2px #5b7bc14a;
$shadow-md: 0 4px 6px #5b7bc14a;
$shadow-lg: 0 4px 16px 0 #5b7bc14a;
